{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
	<div class="col-md-3">
	<a href="{% url 'notes.views.note_edit' item.id %}"><strong>Message #{{ item.id }}</strong></a><br>
	<strong>Subject</strong>: {{ item.subject}}<br>
	<strong>Posted by</strong>: {{ user.first_name }} {{ user.last_name }}<br>
	<strong>Posted on</strong>: {{ item.created|date:" l, M d, Y" }}<br>
	<strong>Resolved?</strong>: 
			{% if item.resolved %}
				Yes
			{% else %}
				No
			{% endif %}
			<br>
	<strong>Urgent?</strong>: 
			{% if item.urgent %}
				Yes
			{% else %}
				No
			{% endif %}
			<br>	
	<strong>Message</strong>: {{ item.description|linebreaks }}<br>
	<hr>

{% for u in update %}
	<strong>{{ u.subject }}</strong></br>
	<strong>Posted by</strong>: {{ user.first_name }} {{ user.last_name }}<br>
	<strong>Posted on</strong>: {{ u.created|date:" l, M d, Y" }}<br>
	<strong>Update</strong>: {{ u.description|linebreaks }}<br>
{% endfor %}

<a href="{% url 'notes.views.add_update' item.id %}">Add an update</a>
</div>
{% endblock content %}


