body {
	font-family: 'oxygen', 'tahoma', sans-serif;
	background-image: url('grid.png');
}

.row.page {
	margin: 0;
}

.bg-primary.page-header {
	padding: 15px;
	border-radius: 6px;
}

.big-3dp {
	background: url('grid.png');
	min-height: 400px;
	border-radius: 6px;
}

.vertical-text {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-top: 30px;
	font-size: 180px;
	color: #FFFFFF;
	text-shadow: 1px 1px 3px #666;
}
/******** front page styling **********/

@media screen{
	a.navbar-brand {
		font-size: 36px;
		margin-left: 40px;
	}

	.navbar-nav>li:first-child {
		margin-left: 20px;
	}

	.navbar-inverse .navbar-nav>li>a{
		color: #e6e6e6;
	}

	.navbar-text.navbar-right:last-child {
		margin-right: 70px;
	}

	p.logout.navbar-text {
		font-size: 16px;
		color: #e6e6e6;
	}

	.navbar-text.logout>a {
		color: #e6e6e6;
	}

	.navbar-text.logout>a:hover {
		color: #fff;
	}

	.dropdown-toggle {
		font-size: 18px;
	}

	.container .jumbotron {
		padding: 0;
	}

	.jumbotron-content {
		padding: 10px 25px 20px 25px;
	}

	.jumbotron p {
		font-size: 18px;
	}

	.jumbotron textarea#id_description {
		max-height: 85px;
	}

	h4.warning {
	margin: 20px 0;
	}

	.no-show {
		display: none;
	}

	.disclaimer {
		display: none;
	}

	.front-page-label {
		width: 200px;
	}

	.info-box {
		background: #eee;
		border-radius: 6px;
		margin-bottom: 20px;
	}

	.box-header h3, .jumbotron h3.box-header {
		padding: 10px 25px;
		margin: 0;
		border-radius: 6px 6px 0 0;
	}

	.jumbotron h3.box-header a{
		color: white;
	}

	.box {
		padding: 10px 25px;
		border-radius: 0 0 6px 6px;
	}

	.queued{
		background-color: #FFDC75;
		border-radius: 6px 6px 0 0;
	} 

	.running{
		background-color: #3DB661;
		border-radius: 6px 6px 0 0;
	}	

	.urgent{
		background-color: #F66852;
		border-radius: 6px 6px 0 0;
	}

	.unresolved{
		background-color: #9294DC;
		border-radius: 6px 6px 0 0;
	}

	/********* notes page *************/
	.note {
		min-height: 190px;
		border-bottom: 1px solid #ccc;
		margin: 15px 40px 15px 0;
	}

	/********* jobs pages **************/
	.job-page {
		margin: 0 10px 0 20px;
	}

	.job-info {
		margin-bottom: 15px;
	}

	fieldset.required {
		padding: 0 10px 10px 10px;
		margin-bottom: 15px;
		background: #eee;
		border-radius: 6px;
	}

}

/******* styling for printed invoice *********/	
@media print {
/*  .info-box, .add-note, .btn, .no-print, h3, h4 {
  	display: none;
  }*/

  .jumbotron .front-page-label, input{
  	font-size: 14px;
  }

  .front-page-label {
  	min-width: 150px;
  }

  input {
  	border: none;
  	border-bottom: 1px solid black;
  }

  .no-show {
  	display: block;
  }
}

