<div class="disclaimer visible-print">
	The NDSU Libraries' 3D printers may be used only for lawful purposes. No one will be permitted to use the Libraries' 3D printers to create material that is:
	<ul>
		<li>prohibited by local, state or federal law.</li>
		<li>unsafe, harmful, dangerous or poses an immediate threat to the well-being of others. (Such use may violate the terms of use of the manufacturer.)</li>
		<li>in violation of another’s intellectual property rights. For example, the printer will not be used to reproduce material subject to copyright, patent, or trademark protection.</li>
	</ul>

	I agree to the terms listed above.  I acknowledge that the final cost of the printed item may be greater than the estimated cost.



	Signature:______________________________________      Date:_______________________________________________
</div>